/week7-week7_01.Smileys/build/
/week7-week7_02.CharacterStringChanger/build/
/week7-week7_03.Calculator/build/
/week7-week7_04.ThingSuitcaseAndContainer/build/
/week7-week7_05.Nicknames/build/
/week7-week7_06.PromissoryNote/build/
/week7-week7_07.Dictionary/build/
/week7-week7_08.Airport/build/